#! /usr/bin/env bash
CONDA_ENV=$(basename "$PWD")
CONDA_BASE=$(conda info --base) 

# shellcheck source=/dev/null
source "$CONDA_BASE/etc/profile.d/conda.sh"

function create_conda_env() {
    command -v conda >/dev/null 2>&1 || {
        echo "conda missing from environment, install from: https://docs.conda.io/en/latest/miniconda.html"
        exit 1
    }
    conda env create -f environment.yml
    conda activate "$CONDA_ENV"
}

conda activate "$CONDA_ENV" || create_conda_env